<div id='deck-name'>
  <h2><%= @card.deck.name.capitalize %></h2>
</div>

<div id='card'>
  <div id='card-content'>
    <% if @card_side == "back" %>
      <p><%= @card.back %></p>
    <% else %>
      <p><%= @card.front %></p>
    <% end %>
  </div>
</div>



<% if @game_over %>
<a href="/user/<%=current_user.id%>">stats</a>
<% else %>
<div id='card-nav'>
  
  <% if @card_side == "back" %>
    <a href="/game/<%=@round_id%>/<%=@deck.id%>?card_id=<%=@current_card%>&card_side=front" class='button' id='flip-card'>Flip Card</a>
  <% else %>
    <a href="/game/<%=@round_id%>/<%=@deck.id%>?card_id=<%=@current_card%>&card_side=back" class='button' id='flip-card'>Flip Card</a>
  <% end %>

  <form action="/new_card/true" method="post">
    <input type="hidden" value="<%= @round_id%>" name="round_id">
    <input type="hidden" value="/game/<%=@round_id%>/<%=@deck.id%>?card_id=<%=@current_card + 1%>&card_side=back" name="route">
    <input type="submit" value="Right" class='button green' id='flip-card'>
  </form>

  <form action="/new_card/false" method="post">
    <input type="hidden" value="<%= @round_id%>" name="round_id">
    <input type="hidden" value="/game/<%=@round_id%>/<%=@deck.id%>?card_id=<%=@current_card + 1%>&card_side=back" name="route">
    <input type="submit" value="Wrong" class='button red' id='flip-card'>
  </form>
</div>
<% end %>
